<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head th:fragment="head">
        <title></title>
        <meta charset="UTF-8"/>
        <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
        <link th:href="@{/webjars/font-awesome/css/all.css}" rel="stylesheet"/>
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
        <script src="http://localhost:35729/livereload.js"></script>
    </head>
    <body>
        <header th:fragment="header">
            <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #008532;">
                <div class="container d-flex justify-content-between align-items-center">
                    <div>
                        <button class="btn btn-outline-light" id="showListButton"><i class="fa-solid fa-bars"></i></button>
                    </div>
                    <div>
                        <h1 class="navbar-brand text-center">RiverasGrill</h1>
                    </div>
                    <div>
                        <a href="#" class="btn btn-outline-light"><i class="fa-solid fa-shopping-cart"></i></a>
                    </div>
                </div>
            </nav>
            <div class="container mt-4">
                <div class="list-group" id="siteList" style="display: none;">
                      <a class="list-group-item list-group-item-action" th:href="@{/index}">Inicio <i class="fas fa-home fa"></i></i></a>
                    <a class="list-group-item list-group-item-action" th:href="@{/contacto}">Contacto <i class="fa-regular fa-address-book"></i></a>
                    <a class="list-group-item list-group-item-action" th:href="@{/catalogo}">Catalogo <i class="fa-solid fa-store"></i></a>
                </div>
            </div>
            <script>
                $(document).ready(function () {
                    $('#showListButton').click(function () {
                        $('#siteList').slideToggle();
                    });
                });
            </script>
        </header>
        <footer th:fragment="footer" class="bg-info text-white mt-5 p-2">
            <div class="container">
                <div class="col">
                    <p class="lead text-center">
                        &COPY; Derechos Reservados 2023
                    </p>
                </div>
            </div>
        </footer>
    </body>
</html>
